<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Projets</h4>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-6 px-1">
                    <ng-select [items]="projects"
                    #select
                    bindLabel="name"
                    dropdownPosition="auto"
                    bindValue="id"
                    (change)="onChange($event)"
                    labelForId="project"
                    placeholder="Selectionnez un project"
                    [virtualScroll]="true">
                      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                          <div><span [ngOptionHighlight]="search">{{item.name}}</span></div>
                          <small><b>Plateforme:</b> {{item.platform}} | <b>Note:</b> {{item.note}}</small>
                      </ng-template>
                    </ng-select>
            </div>
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nom
                </th>
                <th>
                  Plateforme
                </th>
                <th>
                  Note
                </th>
                <th>
                  Montant Total
                </th>
                <th>
                  Taux
                </th>
                <th >
                  Durée
                </th>
                <th>
                    Montant
                </th>
                <th>
                    Date
                </th>
                <th>
                </th>
              </thead>
              <tbody>
                <ng-container *ngFor="let personProject of personProjects; trackBy:identify">
                <tr >
                  <td>
                      <a href="{{personProject.project.link}}" target="_blank">
                      {{personProject.project.name}}
                      </a>
                  </td>
                  <td>
                      {{personProject.project.platform}}
                  </td>
                  <td>
                      {{personProject.project.note}}
                  </td>
                  <td>
                      {{personProject.project.amount | currency:'EUR'}}
                  </td>
                  <td>
                      {{personProject.project.rate}} %
                  </td>
                  <td>
                      {{personProject.project.term}}
                  </td>
                  <td>
                      {{personProject.amount | currency:'EUR'}}
                  </td>
                  <td>
                      {{personProject.startDate | date:'mediumDate' }}
                  </td>
                  <td>
                      <button mat-mini-fab color="primary" *ngIf="personProject.undefined==undefined || personProject.undefined==false" (click)="edit(personProject)">
                        <mat-icon>edit</mat-icon>
                      </button>
                      &nbsp;&nbsp;
                      <button mat-mini-fab color="warn" *ngIf="personProject.undefined==undefined || personProject.undefined==false" (click)="delete(personProject)">
                        <mat-icon>delete</mat-icon>
                      </button>
                  </td>
                </tr>
                <tr><td colspan="8" *ngIf="personProject.undefined">
                    <mat-horizontal-stepper [linear]="isLinear" #stepper>
                        <mat-step [stepControl]="firstFormGroup" label="Entrez le montant investi">
                          <form [formGroup]="firstFormGroup">
                            <mat-form-field>
                              <input matInput type="number" placeholder="Montant investi" formControlName="firstCtrl"  [(ngModel)]="personProject.amount" required>
                            </mat-form-field>
                            <div>
                              <button mat-button matStepperNext>Suivant</button>
                            </div>
                          </form>
                        </mat-step>
                        <mat-step [stepControl]="secondFormGroup">
                          <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>Entrez la date de debut de l'investissement</ng-template>
                            <mat-form-field>
                                <input matInput [matDatepicker]="startDatepicker" formControlName="secondCtrl" placeholder="Choisir la date de début" [(ngModel)]="personProject.startDate">
                                <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
                                <mat-datepicker #startDatepicker></mat-datepicker>
                              </mat-form-field>
                            <div>
                              <button mat-button matStepperPrevious>Retour</button>
                              <button mat-button matStepperNext>Suivant</button>
                            </div>
                          </form>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>Validation</ng-template>
                            Merci de valider l'investissement à hauteur de {{personProject.amount | currency:'EUR'}} à partir du {{personProject.startDate | date:'mediumDate' }}.
                            <div>
                              <button mat-button matStepperPrevious>Retour</button>
                              <button mat-button (click)="save(personProject)">Valider</button>
                            </div>
                          </mat-step>
                      </mat-horizontal-stepper>
                </td></tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
