<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Projets</h4> 
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />          
        </div>
        <div class="card-body" *ngIf="!loading">
            <div class="row">
                <div class="col-md-12 px-4">
                    <button mat-mini-fab color="primary" (click)="addProject()">
                      <mat-icon>add_circle</mat-icon>
                    </button>
                </div>
            </div>
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nom
                </th>
                <th>
                  Plateforme
                </th>
                <th>
                  Note
                </th>
                <th>
                  Montant Total
                </th>
                <th>
                  Taux
                </th>
                <th >
                  Durée
                </th>
                <th>
                    Montant
                </th>
                <th>
                    Date
                </th>
                <th>
                </th>
              </thead>
              <tbody>
                <ng-container *ngFor="let personProject of personProjects; trackBy:identify">
                <tr *ngIf="personProject.project">
                  <td>
                      <a href="{{personProject.project.link}}" target="_blank">
                      {{personProject.project.name}}
                      </a>
                  </td>
                  <td>
                      {{personProject.project.platform}}
                  </td>
                  <td>
                      {{personProject.project.note}}
                  </td>
                  <td>
                      {{personProject.project.amount | currency:'EUR'}}
                  </td>
                  <td>
                      {{personProject.project.rate}} %
                  </td>
                  <td>
                      {{personProject.project.term}}
                  </td>
                  <td>
                      {{personProject.amount | currency:'EUR'}}
                  </td>
                  <td>
                      {{personProject.startDate | date:'mediumDate' }}
                  </td>
                  <td>
                      <button mat-mini-fab color="warn" *ngIf="personProject == selectedPersonProject" (click)="cancel(personProject)">
                        <mat-icon>cancel</mat-icon>
                      </button>
                      <button mat-mini-fab color="primary" *ngIf="personProject != selectedPersonProject" (click)="edit(personProject)">
                        <mat-icon>edit</mat-icon>
                      </button>
                      &nbsp;&nbsp;
                      <button mat-mini-fab color="warn" *ngIf="personProject != selectedPersonProject" (click)="delete(personProject)">
                        <mat-icon>delete</mat-icon>
                      </button>
                  </td>
                </tr>
                <tr><td colspan="8" *ngIf="personProject == selectedPersonProject">
                    <mat-horizontal-stepper linear #stepper>
                        <mat-step [stepControl]="formA" label="Selectionnez le projet" *ngIf="!personProject.projectId">
                            <form [formGroup]="formA">
                                <ng-select [items]="projects"
                                #select
                                bindLabel="name"
                                dropdownPosition="auto"
                                bindValue="id"
                                formControlName="projectId"
                                labelForId="project"
                                [appendTo]="'body'"
                                placeholder="Selectionnez un project"
                                [virtualScroll]="true">
                                  <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                      <div><span [ngOptionHighlight]="search">{{item.name}}</span></div>
                                      <small><b>Plateforme:</b> {{item.platform}} | <b>Note:</b> {{item.note}}</small>
                                  </ng-template>
                                </ng-select>
                              <div>
                                <button mat-button matStepperNext>Suivant</button>
                              </div>
                            </form>
                          </mat-step>
                        <mat-step [stepControl]="formB" label="Entrez le montant investi">
                          <form [formGroup]="formB">
                            <mat-form-field>
                              <input matInput type="number" placeholder="Montant investi" formControlName="amount" required>
                            </mat-form-field>
                            <div>
                              <button mat-button matStepperNext>Suivant</button>
                            </div>
                          </form>
                        </mat-step>
                        <mat-step [stepControl]="formC">
                          <form [formGroup]="formC">
                            <ng-template matStepLabel>Entrez la date de debut de l'investissement</ng-template>
                            <mat-form-field>
                                <input matInput [matDatepicker]="startDatepicker" formControlName="startDate" placeholder="Choisir la date de début" required>
                                <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
                                <mat-datepicker #startDatepicker></mat-datepicker>
                              </mat-form-field>
                            <div>
                              <button mat-button matStepperPrevious>Retour</button>
                              <button mat-button matStepperNext>Suivant</button>
                            </div>
                          </form>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>Validation</ng-template>
                            Merci de valider l'investissement à hauteur de {{formB.value.amount | currency:'EUR'}} à partir du {{formC.value.startDate | date:'mediumDate' }}.
                            <div>
                              <button mat-button matStepperPrevious>Retour</button>
                              <button mat-button (click)="save(personProject)">Valider</button>
                            </div>
                          </mat-step>
                      </mat-horizontal-stepper>
                </td></tr>
              </ng-container>
              </tbody>
            </table>
            <div class="col-md-12 px-4" *ngIf="personProjects.length > 8">
                <button mat-mini-fab color="primary" (click)="addProject()">
                  <mat-icon>add_circle</mat-icon>
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>