<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6 px-1">
                <div class="form-group">
                  <label>Nom d'utilisateur</label>
                  <input type="text" class="form-control"  disabled="" placeholder="Nom d'utilisateur" [(ngModel)]="user.userName" name="username" >
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Adresse Email</label>
                  <input type="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" name="email" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Prénom</label>
                  <input type="text" class="form-control" placeholder="Prénom" [(ngModel)]="user.firstName" name="firstName" required>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Nom de famille</label>
                  <input type="text" class="form-control" placeholder="Nom de famille" [(ngModel)]="user.lastName" name="lastName" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Adresse</label>
                  <input type="text" class="form-control" placeholder="Adresse" [(ngModel)]="user.address" name="address">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Ville</label>
                  <input type="text" class="form-control" placeholder="Ville" [(ngModel)]="user.city" name="city">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Pays</label>
                  <input type="text" class="form-control" placeholder="Pays" [(ngModel)]="user.country" name="country">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Code Postal</label>
                  <input type="number" class="form-control" placeholder="Code Postal" [(ngModel)]="user.postalCode" name="postalcode">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>A propos de moi</label>
                  <textarea rows="4" cols="80" class="form-control" placeholder="Ici, vous pouvez vous décrire" [(ngModel)]="user.aboutMe" name="aboutme"> </textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <button [disabled]="loading" class="btn btn-primary" (click)="onSave()">Sauvegarder</button>
                  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />          
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
              <img class="avatar border-gray"  src="{{user.image || '../assets/img/defaultPic.jpg' }}" (click)="fileInput.click()">
              <p class="text-center now-ui-icons">
                  <input 
                      style="display: none" accept="image/x-png,image/gif,image/jpeg"
                      type="file" (change)="onFileChanged($event)" 
                      #fileInput>
                </p>
              <h5 class="title">{{user.firstName}} {{user.lastName}}</h5>
            <p class="description">
              {{user.userName}}
            </p>
          </div>
          <p class="description text-center">
            {{user.aboutMe}}
          </p>
          
        </div>
        <hr>
        <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
